<div style="margin-top: 10%">
    <h1 style="
      font-family: cursive;
      text-align: center;
      color: black;
      font-weight: bold;
    ">
        AAC Tech
    </h1>
    <br />
    <div style="text-align: center;">
        <p style="font-size: 25px; font-weight: bold; font-family: cursive" id="t1">
            Dentro de AAC Tech nos concentramos en ofrecer el mejor servicio de venta
            de artículos gaming <br />
            así como artículos y componentes electrónicos, contando con más de 15 años
            de experiencia en nuestro entorno <br />
            y ofreciendo a nuestros clientes un servicio de alta calidad a un precio
            moderado, siempre basándonos <br />
            en nuestros estándares profesionales para ofrecer absolutamente lo mejor
            entorno a calidad-precio.
        </p>
    </div>
</div>
<div style="text-align: center;">
    <ng-container *ngIf="validarSpeak.band">
        <button (click)="playSpeak('t1')"><i class="far fa-play-circle"></i></button>
        <button (click)="stopSpeak()"><i class="far fa-stop-circle"></i></button>
    </ng-container>
</div>