<div class="container py-5">
    <div class="row">

        <div class="col-lg-3">
            <h1 class="h2 pb-4">Productos</h1>
        </div>

        <div class="col-lg-9">
            <div class="row">
                <div class="col-md-4" *ngFor="let producto of productos; let lastcall=last" >
                    <div class="card mb-4 product-wap rounded-0">
                        <div class="card rounded-0" >
                            <img class="card-img rounded-0 img-fluid " [id]="producto.id" [src]="cargarImagen(producto.id,producto.fuenteOrigen)"><!-- [src]="getImage(producto.fuenteImagen)" -->
                            <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                                <ul class="list-unstyled">
                                    <li><a class="btn btn-success text-white mt-2"><i class="fas fa-cart-plus" (click)="guardarInfo()"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="card-body">
                            <a class="h3 font-weight-bold" id="nombre">{{producto.nombre}}</a>
                            <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                                <li id="categoria">{{producto.categoria}}</li>
                            </ul>
                            <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                                <li>{{producto.descripcion}}</li>
                            </ul>
                            
                            <p class="text-center mb-0" id="precio">Precio: ${{producto.precio}}</p>
                        </div>
                    </div>
                </div>
        </div>

    </div>
</div>
<!-- End Content -->

<!-- Start Brands -->
<section class="bg-light py-5">
    <div class="container my-4">
        <div class="row text-center py-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">Nuestras Marcas</h1>
                <p>
                    Contamos con una gran variedad de marcas, las mejores del mercado, de alta calidad
                    a un moderado precio y con los mejores descuentos.
                </p>
            </div>
            <div class="col-lg-9 m-auto tempaltemo-carousel">
                <div class="row d-flex flex-row">

                    <!--Marcas-->
                    <div class="col">
                        <div class="carousel slide carousel-multi-item pt-2 pt-md-0" id="multi-item-example" data-bs-ride="carousel">
                            <div class="carousel-inner product-links-wap" role="listbox">

                                <div class="carousel-item active">
                                    <div class="row">
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_01.png" alt="Brand Logo"></a>
                                        </div>
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_02.png" alt="Brand Logo"></a>
                                        </div>
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_03.png" alt="Brand Logo"></a>
                                        </div>
                                        <div class="col-3 p-md-5">
                                            <a href="#"><img class="img-fluid brand-img" src="assets/img/brand_04.png" alt="Brand Logo"></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Brands-->

<app-footer></app-footer>